:root {
  --primaryColor:hsl(199,100%,33%);
  --secondaryColor:hsl(187,85%,43%);
  --gradientColor: linear-gradient(to right ,hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%,36%);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyText:rgb(190,190,190);
  --inputColor:rgb(239,239,239);
  --bodyColor:rgb(240,240,246);
  --cardBg:rgb(247, 247, 247);
  --cardHover:rgb(255,255,255);
}

.main {
  width: 100%;
}
.main .main-title h3 {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
  z-index: 2;
}
.main .main-title h3::after {
  position: absolute;
  content: "";
  background: var(--secondaryColor);
  height: 3px;
  width: 120px;
  right: 0;
  bottom: 3px;
  z-index: -1;
}
.main .destinations {
  justify-content: center;
  gap: 1.5rem;
}
.main .destinations .card {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBg);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .destinations .card:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .destinations .card .card-img {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .destinations .card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .destinations .card .card-img:hover img {
  transform: scale(1.1);
}
.main .destinations .card .card-info {
  padding: 1rem;
}
.main .destinations .card .card-info .card-title {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.main .destinations .card .card-info .sub-title {
  gap: 0.5rem;
}
.main .destinations .card .card-info .sub-title .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .destinations .card .card-info .sub-title .location {
  color: var(--textColor);
  font-weight: 400px;
  font-size: 14px;
}
.main .destinations .card .card-info .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1px solid var(--greyText);
  border-bottom: 1px solid var(--greyText);
}
.main .destinations .card .card-info .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.main .destinations .card .card-info .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: white;
  padding: 1px 10px;
  font-size: 10px;
}
.main .destinations .card .card-info .fees .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.main .destinations .card .card-info .desc {
  font-size: 14px;
  color: var(--textColor);
  font-weight: 500;
}
.main .destinations .card .card-info .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .destinations .card .card-info .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .main-title {
    font-size: 1.5rem;
  }
  .main-title::after {
    width: 155px !important;
  }
  .destinations {
    grid-template-columns: repeat(2, 1fr);
  }
  .destinations .card {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .destinations {
    grid-template-columns: repeat(3, 1fr);
  }
  .destinations .card {
    height: auto;
  }
}
@media screen and (min-width: 1350px) {
  .destinations {
    grid-template-columns: repeat(4, 1fr);
  }
  .destinations .card {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */